<h1>Tweets :</h1>

<%- @tweets.each do |tweet| -%>
  <div class="tweets">
    <p><img src=<%= tweet.user.profile_image_url %> />&nbsp;<strong><%= tweet.user.name %></strong></p>
    <p><%= tweet.text %></p>
    <% if defined?(tweet.media[0].media_url) %> <img width="350px" src=<%= tweet.media[0].media_url %> /> <% end %>
  </div>
<% end %>