<h1>Tweets :</h1>
<%= paginate @tweets %>

<%- @tweets.each do |tweet| if (tweet.media != '#') -%>
  <div class="tweets">
	    <%= link_to(image_tag(tweet.media, width: '350'), tweet_path(tweet)) %> <% end %>
  </div>
<% end %>