<%= render :partial => "shared/navbar.erb" %>
<h1>Tweets :</h1>
<%= paginate @tweets %>

<br />
<%- @tweets.each do |tweet| if (tweet.media != '#') -%>
	<%= link_to(image_tag(tweet.media), tweet_path(tweet), :class => "tweets") %> <% end %>
<% end %>