<h1>Tweets :</h1>

<%- @tweets.each do |tweet| if defined?(tweet.media[0].media_url)-%>
  <div class="tweets">
    <img width="350px" src=<%= tweet.media[0].media_url %> /> <% end %>
  </div>
<% end %>