div.tweets {
	border: 1px solid #B4BCDB;
	margin: 10px;
	width: 500px;
}
div.tweets:hover {
	background: rgb(212, 231, 231);
}
div.tweets:active {
    opacity: 0.5;
    filter:alpha(opacity=50);
}