@font-face {
  font-family: "Museo";
  src: url("fonts/MuseoSans_500.otf");
}

.museo {
    font-family: "Museo", serif;
}

div.container {
    padding: 50px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
}

div.container-background {
    z-index: -10000;
    background: #e7e7e7;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

div.log {
	margin: 10%;
    border: 2px solid rgba(60,60,60,0.5);
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
}